{% extends 'catalog/base.html' %}
{% load my_tags %}

{% block content %}
<div class="row text-center">
    {% for prod in object_list %}
    <div class="col-4">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">{{ prod.name }}</h4>
            </div>
            <div class="card-body" style="background-color: #ddffdd">
                {% if prod.current_version %}
                <p>номер версии: {{ prod.current_version.version_number }}</p>
                <p>название версии: {{ prod.current_version.version_name }}</p>
                {% endif %}
            </div>
            <div class="card-body">
                <img src="{{ prod.photo | media_filter }}">
            </div>
            <div class="card-body">
                <p>{{ prod.description | truncate_chars }}</p>
            </div>
            <div class="card-body">
                <img src="" alt="">
                <h1 class="card-title pricing-card-title">{{ prod.price }} руб.</h1>
                <a class="btn btn-outline-primary" href="{% url 'catalog:product_detail' prod.pk %}"
                   role="button">Подробнее</a>
                {% if perms.catalog.can_edit_description and perms.catalog.can_edit_category and perms.catalog.can_cancel_publication or user == prod.salesman %}
                <a class="btn btn-outline-primary" href="{% url 'catalog:product_edit' prod.pk %}" role="button">Редактировать</a>
                {% endif %}
                <a class="btn btn-outline-primary" href="{% url 'catalog:product_delete' prod.pk %}" role="button">Удалить</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}